build/
tests/generated/
tests/tc1/
tests/tc2/
tests/tc3/
tests/tc4/
tests/tc5/
tests/tc6/
tests/tc7/
tests/tc8/
tests/tc9/
tests/tc10/
tests/tc11/
tests/tc12/
tests/tc13/

.vscode/
log.txt
old_log.txt
stats.py

